/* PROJETO TRAVELLER */

    /* FONTES */
        /* font-family: 'Arvo', serif; */
        /* font-family: 'Roboto', sans-serif; */

* {
    box-sizing: border-box;
}

    /* PEIMEIRO MENU DE NAVEGAÇÃO */

.menu_1 h1 {
    font-family: 'Arvo', serif;
    color: #202c61c9;
}
.menu_1 {
    display: flex;
    justify-content: space-between;
    background-color: #b7babe;
    padding: 0.8rem 6rem;
}

.logo {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 900;
}

.logo_numero_1 {
    color: #5272a8;
}

.logo_numero_2 {
    color: #0e74a7;
}

.logo_numero_3 {
    color: #1886bd;
}

    /* PRIMEIRO SUBMENU */

.submenu_1 {
    font-family: 'Roboto', sans-serif;
    display: flex;
}

.icones {
    color: #5272a8;
}

.icones i {
    font-size:25px;
}

.icones_menu_1 i {
    font-size: 20px;
}

.submenu_1 ul {
    display: flex;
    margin-left: 50px;
}

.submenu_1 li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submenu_1 a {
    text-decoration: none;
    margin-left: 5px;
    color: #0e74a7;
}

    /* SEGUNDO MENU DE NAVEGAÇÃO */

.menu_2 {
    display: flex;
    justify-content: space-around;

    background-color: #ccc;
}

.menu_2 ul {
    text-align: center;
    border: solid 2px #ccc;
    padding: 2rem;
}

.menu_2 li {
    display: block;
    margin: 10px 0;
}

.menu_2 a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #202c61c9;
}

.reserva {
    background-image: url(../imagens/beach-6517214_1920.jpg);
    background-size: cover;
    height: 500px;
    display: flex;
}

.caixa_reserva {
    font-family: 'Roboto', sans-serif;

    width: 1321px;
    height: 300px;
    background-color: #fff;
    opacity: 0.8;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding-right: 50px;
}

.caixa_reserva h2 {
    position: relative;
    top: -35px;
    left: 84px;
    font-weight: 900;
    font-size: 1.5rem;
}

.formulario {
    opacity: 1;
}

.formulario label {
    font-size: 15px;
}

.formulario input {
    height: 40px;
    border-radius: 15px;
}

.formulario button {
    height: 50px;
    border-radius: 10px;
    background-color: #0e74a7;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 18px;
    margin-left: 10px;
}

.formulario button:hover {
    scale: 1.1;
    background-color: #123c52;
}

.vitrine {
    margin: 0 7rem;
}

#local_de_partida {
    font-weight: 300;
    margin-left: 5px;
}

.vitrine h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin-top: 5rem;

}

.vitrine li {
    display: inline-block;
    position: relative;
    background-image: url(../imagens/rio_de_janeiro.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 10px;
    width: 30%;
    height: 300px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-top: 30px;
}

.vitrine h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 2rem;
}

.vitrine p {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 1rem;
}

.vitrine .preco {
    font-size: 1.5rem;
}

.vitrine a {
    border: solid 2px #123c52;
    border-radius: 5px;
    padding: 0.5rem 5rem;
    background-color: #5272a8;
    color: #fff;
}

.vitrine h3, p, a {
    margin: 1.5rem 0;
}

footer {
    background-color: #5272a8;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    margin: 2rem 0;
}