/* PROJETO TRAVELLER */

    /* FONTES */
        /* font-family: 'Arvo', serif; */
        /* font-family: 'Roboto', sans-serif; */

* {
    box-sizing: border-box;
}

    /* PEIMEIRO MENU DE NAVEGAÇÃO */

.menu_1 h1 {
    font-family: 'Arvo', serif;
    color: #202c61c9;
}
.menu_1 {
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    padding: 0.8rem 6rem;
}

.logo {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 900;
}

.logo_numero_1 {
    color: #5272a8;
}

.logo_numero_2 {
    color: #0e74a7;
}

.logo_numero_3 {
    color: #1886bd;
}

    /* PRIMEIRO SUBMENU */

.submenu_1 {
    font-family: 'Roboto', sans-serif;
    display: flex;
}

.icones {
    color: #5272a8;
}

.icones i {
    font-size:25px;
}

.icones_menu_1 i {
    font-size: 20px;
}

.submenu_1 ul {
    display: flex;
    margin-left: 50px;
}

.submenu_1 li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submenu_1 a {
    text-decoration: none;
    margin-left: 5px;
    color: #0e74a7;
}

    /* SEGUNDO MENU DE NAVEGAÇÃO */

.menu_2 {
    display: flex;
    justify-content: space-around;

    background-color: #ccc;
}

.menu_2 ul {
    text-align: center;
    border: solid 2px #ccc;
    padding: 2rem;
}

.menu_2 li {
    display: block;
    margin: 10px 0;
}

.menu_2 a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #202c61c9;
}

/* .container {
    width: 1200px;
    margin: 0 auto;
    background-color: aqua;
}
*/

.reserva {
    background-image: url(../imagens/beach-6517214_1920.jpg);
    background-size: cover;
    height: 500px;
    display: flex;
}

.caixa_reserva {
    /* width: 900px; */
    background-color: #fff;
    opacity: 0.7;
    margin: auto;
    padding: ;
}

.caixa_reserva {
    opacity: 1;    
}
